.go-up-container {
  overflow: hidden;
  width: fit-content;
}

.go-up {
  transform: translateY(100%);
  transition: transform 0.4s var(--easing-func);
  /* transition-delay: 0.7s; */
}

.go {
  transform: translateY(0);
  transition-delay: 0.3s;
}
