.load {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1d1d;
  z-index: 50;
  transition: opacity 0.7s ease-in-out;
}

.aniUp {
  opacity: 0;
}

/* 
@keyframes slide {
  100% {
    transform: translateY(-100%);
  }
}

.aniUp {
  animation: slide 0.8s var(--easing-func);
} */
