.scaleAnimation {
  animation: scales linear;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: contain;
}

@keyframes scales {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}

.fadeAnimation {
  animation: fade linear;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 300px;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.floatAnimation {
  animation: float linear;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: contain;
  background-color: blue;
}

@keyframes float {
  from {
    margin-top: -10px;
  }
  to {
    margin-top: 0;
  }
}
